:root {
  --the-wild-apothecary: #fd4556;
  --azul-light: #bd3944;
  --azul-dark: #53212b;
  --cupids-eye: #fffbf5;
  --radiant-orchid: #000000;
  --noir-fondu: rgba(0, 0, 0, 0.8);
  --jett: #435680;
  --phoenix: #bd431e;
  --omen: #182545;
}

@font-face {
  font-family: "MaPolice"; /* Donnez un nom à la police */
  src: url("Valorant\ Font.ttf") format("truetype"); /* Chemin vers le fichier */
  font-weight: normal; /* Optionnel : poids par défaut */
  font-style: normal; /* Optionnel : style par défaut */
}

body {
  margin: 0;
  padding: 0;
  font-family: "MaPolice";
  font-size: 16px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-family: "Mandali", sans-serif;
  font-weight: 600;
  font-style: normal;
}

section#title {
  background-image: url("/img/fonds\ titre.avif");
  background-size: cover;
  height: 100vh;
}
div.title {
  display: flex;
  justify-content: center;
  color: var(--cupids-eye);
  padding-top: 25%;
}
div.title h1 {
  background-color: var(--noir-fondu);
  padding: 10px;
  border-radius: 25px;
}

img#fleche {
  height: 60px; /* Taille de la flèche */
  position: absolute; /* Permet de positionner la flèche par rapport à l'écran */
  bottom: 20px; /* Positionnement à 20px du bas de l'écran */
  left: 98%; /* Aligne horizontalement au centre */
  transform: translateX(-50%); /* Centre parfaitement la flèche */
  filter: invert(1); /* Rend l'image blanche en inversant ses couleurs */
  cursor: pointer; /* Ajoute un curseur pour indiquer que la flèche est cliquable (optionnel) */
}

section#jett {
  background-color: var(--jett);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  color: var(--cupids-eye);
}

div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

div.titre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img.role {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.tableau {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Quatre colonnes égales */
  gap: 20px; /* Espace entre les cellules */
  padding: 20px;
}

.cellule {
  text-align: center;
}

.cellule img {
  width: 100px; /* Taille de l'image */
  height: auto;
  border-radius: 5px; /* Coins arrondis (optionnel) */
  transition: transform 0.3s, box-shadow 0.3s;
}

.cellule p {
  margin-top: 10px;
  font-size: 14px;
}

section#phoenix {
  background-color: var(--phoenix);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  color: var(--cupids-eye);
}
section#omen {
  background-color: var(--omen);
  height: 100vh;
  display: flex;
  justify-content: space-around;
  color: var(--cupids-eye);
}

video {
  width: 300px; /* Largeur de la vidéo */
  height: auto; /* Hauteur ajustée automatiquement en fonction du ratio */
}
